@for $i from 18 to 24 {
    h#{$i} {
        margin: 10px;
        color: white;
        font-size: 2rem;
        text-align: center;
    }
}

$colores: 'pink', 'green', 'black';

@each $color in $colores {
    .#{$color} {
        color: #{$color};
    }
}